.food {
	margin: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #ccc;
	align-items: center;
}
.link {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	color: #92320c;
	color: #8a2b06;
	align-items: center;
}
.image {
	width: auto;
	object-fit: scale-down;
}

.food h3 {
	margin: 0 0 0.25rem 0;
}

.link:hover {
	color: #92320c;
	font-weight: bolder;
	font-size: larger;
	cursor: pointer;
}
