.link {
	height: 5rem;
	padding: 0 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #92320c;
	color: #8a2b06;
	align-items: center;
	border-bottom: 1px solid #ccc;
}
.image {
	display: flex;
	width: 110px;
	height: 70px;
	align-self: center;
}

.link h3 {
	margin: 0 0 0.25rem 0;
}

.link:hover {
	color: #92320c;
	font-weight: bolder;
	font-size: larger;
	cursor: pointer;
}

@media (max-width: 798px) {
}
